[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    line-too-long,
    too-few-public-methods

[BASIC]
good-names=
    i,
    j,
    k,
    ex,
    Run,
    _,
    x,
    y,
    df

[DESIGN]
max-complexity=5
max-line-length=180
max-module-lines=100
max-function-lines=30
max-class-attributes=5
