[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    line-too-long,
    too-few-public-methods

[BASIC]
good-names=
    i,
    j,
    k,
    ex,
    Run,
    _,
    x,
    y,
    df

[DESIGN]
max-complexity=8
max-line-length=120
max-module-lines=1000
max-function-lines=300
max-class-attributes=10
